/* +++++++++++++++++++++++++++++++++++++++++++ */
/* Canapi styles that should be shared across project websites. */
/* +++++++++++++++++++++++++++++++++++++++++++ */

*{
  font-size:inherit;
  font-family:inherit;
  outline:none;
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout:none;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}


/* +++++++++++++++++++++++++++++++++++++++++++ */


/* css variables */
:root{
  /* default avatar (before load) */
  /* --avatarPath: linear-gradient(135deg, var(--accent-lime), var(--accent)); */
  --avatarPath: linear-gradient(135deg, var(--accent-green-light-trans), var(--accent));
  /* --light: #ffffff; */
  /* replace with --white */
  --dark: #333841;
  --dark-trans: #33384150;
  --dark-light-trans: #33384118;
  --grey: #e3e3e3;
  --grey-light-trans:#e3e3e318;
  --accent:#46af71;
  --accent-lime:#80ce4d;
  --accent-green-semi-dark-trans:#46af7185;
  --accent-green-dark-trans:#46af7178;
  /* --accent-lime-dark-trans:#80ce4d78; */
  --accent-green-trans:#46af7150;
  /* --accent-lime-trans:#80ce4d60; */
  --accent-green-light-trans:#46af7118;
  /* --accent-lime-light-trans:#80ce4d60; */

  /* shared theme management */
  --shadow:0px 8px 17px -8px rgb(0 0 0 / 10%);

  /* overwrite shared colors for this project's shared styles */
  --errorred:#e04141;
  --errorred-light-trans:#e0414120;
  /* fonts */
  --primary-font: 'Manrope', sans-serif;
  --secondary-font: 'Manrope', sans-serif;
}
/* dark mode */
body.dark,
[data-theme~="dark"]{
  background-color:#30353d;
  /* --foreground: var(--light); */
  /* --background: var(--dark); */
  --shadow:0px 8px 17px -8px rgb(0 0 0 / 20%);
}


/* +++++++++++++++++++++++++++++++++++++++++++ */


/* html elements */
body{
  /* put gradient on main page content? */
  /* background:linear-gradient(135deg, #C1F0A3,#A0E1BA); */
  /* background-color:var(--background); */
  /* font-family: 'Manrope', sans-serif; */
  /* color:var(--foreground); */
  font-size:14px;
  background: linear-gradient(135deg, transparent,var(--accent-green-light-trans));
  /* min-height:100vh; */
  /* overflow:hidden; */
  /* height:100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
}

/* style scrollbars */
body::-webkit-scrollbar-track{
  background-color:transparent;
  transition:.15s;
}
*::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color:transparent;
  transition:.15s;
}
*::-webkit-scrollbar-thumb{
  background-color:var(--accent);
  border-radius:10px;
  transition:.15s;
}

/* inputs */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea{
  border:1px solid var(--accent-green-light-trans);
  border-radius: 4px;
  transition:border .25s, background-color .25s;
  /* background-color: var(--background); */
  background-color: transparent;
  padding: 8px 10px;
  color: var(--foreground);
  display:block;
  width:240px;
  text-overflow: ellipsis;
}
textarea{
  resize:none;
  height:150px;
}
/* hover */
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
select:hover,
textarea:hover{
  border-color: var(--accent-green-trans);
}
input[type="text"]:active,
input[type="text"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
select:active,
select:focus,
textarea:active,
textarea:focus{
  border-color: var(--accent-green-dark-trans);
  background-color: var(--accent-green-light-trans);
}

/* links */
a{
  color:var(--accent);
  font-weight:bold;
	position:	relative;
  z-index:1;
  transition:.25s;
	/* transition: transform .25s, color .25s, background-color .25s, opacity .25s; */
}
a:hover{
  color:var(--accent-green-semi-dark-trans);
}
a:active{
  /* color:var(--accent); */
}
a.icon-link{
  font-size:1.2em;
}
/* prevent layout shift when loading icons */
.icon-container{
  min-height:1em;
  min-width:1em;
}

/* buttons */
/* .button-container > *{ */
.button-container{
  gap:12px;
}
.button-container > *:last-child{
  /* margin-right:0; */
}
.links-container.horizontal > *{
  margin-right:20px;
}
.links-container.horizontal > *:last-child{
  margin-right:0;
}
button,
.button,
input[type="submit"]{
  border:1px solid var(--accent-green-light-trans);
  border-radius:4px;
  /* background-color:var(--background); */
  background-color:transparent;
  /* padding:8px 10px;?????????? */
  color:var(--foreground);
	position:	relative;
  transition:.25s;
	/* transition: transform .25s, color .25s, background-color .25s, opacity .25s, border .25s; */
  font-weight:inherit;
}
button:hover,
.button:hover,
button:focus,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
  /* background-color:#CDF3DC; */
  border-color: var(--accent-green-trans);
  /* color: var(--accent-green-semi-dark-trans); */
  background-color:var(--accent-green-light-trans);
}
button:active,
.button:active,
input[type="submit"]:active{
  /* background-color:#A2E1BB; */
  background-color:var(--accent-green-trans);
  transform:scale(.95);
}
/* primary buttons */
button.primary,
.button.primary,
input[type="submit"]{
  background-color:var(--accent);
  color:var(--white);
}
button.primary:hover,
.button.primary:hover,
button.primary:focus,
.button.primary:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
  /* color:var(--grey); */
  background-color:var(--accent-green-semi-dark-trans);
}
button.primary:active,
.button.primary:active,
input[type="submit"]:active{
  color:var(--white);
  background-color:var(--accent);
}


p{
  margin-bottom:10px;
}
p:last-child{
  margin-bottom:0;
}
.section-header{
  margin-bottom:20px;
}
h1, h2, h3, h4, h5, h6{
  font-weight:bold;
  line-height:1em;
  letter-spacing: -1px;
}
h1{
  font-size:3em;
}
h2{
  font-size:2.2em;
}
h3{
  font-size:1.6em;
}
h4{
  font-size:1.1em;
}
h6{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
}
table{
  width:100%;
}
th{
  text-align:left;
  margin-bottom:10px;
}
td{
  text-align:left;
}


/* +++++++++++++++++++++++++++++++++++++++++++ */
/* custom selectors, shared elements */
/* sections */
.max-width{
  max-width:1000px;
  margin:0 auto;
}
.padded-section{
  padding:3rem 30px;
}
.full-section{
  min-height:100vh;
}
.large-section{
  min-height:60vh;
}
.accent-section{
  background-color:var(--accent);
  color:var(--white);
}
.solid-section{
  background-color:var(--background);
  box-shadow:var(--shadow);
  border-radius:10px;
  /* margin-bottom:20px; */
}

@media only screen and (max-width: 600px){
  .padded-section{
    padding:2rem 30px;
  }
}

/* page layouts */
.page-container{
  position:relative;
  overflow-x:hidden;
  z-index:1;
}

/* page pieces */
/* header & main nav */
header .canapi-logo{
  width: 125px;
  height: 40px;
  background-position: top left;
  margin:0;
}
.nav-container{}
.nav-item-container{
  color:inherit;
  font-weight:normal;
  opacity:1;
  margin-right:20px;
  padding:8px 10px;
  border-radius:4px;
  font-size:18px;
  /* transition:background-color .25s; */
}
.nav-item-container:last-child{
  margin-right:0px;
}
.nav-item-container:hover{
  background-color:var(--accent-green-light-trans);
  color:inherit;
}
.nav-item-container:active{
  color:inherit;
  opacity: 1;
  transform: scale(.97);
  background-color:var(--accent-green-trans);
}
@media only screen and (max-width: 600px){
  header .canapi-logo{
    display:none;
  }
  .canapi-logo{
    max-width: 350px;
    width:100%;
    height: 150px;
  }
}

/* form elements */
/* use gap-container on parent instead */
.section-row, .form-row{
  /* margin-bottom:20px; */
}
.section-row:last-child, .form-row:last-child{
  /* margin-bottom:0; */
}

/* tooltips */
[data-tooltip]{
  position:relative;
  cursor: pointer;
  z-index:1;
  /* white-space:nowrap; */
  /* min-width:0; */
}
[data-tooltip]:after,
.tooltip{
  /* container */
  z-index:100;
  pointer-events:none;
  background-color:var(--background);
  border-radius: 4px;
  white-space: nowrap;
  min-width:0;
  /* width:300px; */
  /* max-width:300px; */
  border:1px solid var(--grey);
  color:var(--foreground);
  padding:12px 15px;
  box-shadow:var(--shadow);
  position:absolute;
  left:0;
  /* transition */
  transition:.35s;
  opacity:0;
  top:70%;
  /* content */
  content:attr(data-tooltip);
  text-transform: none;
  font-size:14px;
  font-weight:normal;
  letter-spacing: normal;
  text-align:left;
}
[data-tooltip]:hover:after,
[data-tooltip]:hover .tooltip{
  opacity:1;
  top:150%;
}
.large[data-tooltip]:after{
  min-width:auto;
  width:300px;
  white-space: initial;
}
[data-tooltip-force-right]:after,
[data-tooltip-force-right] .tooltip{
  left:unset;
  right:0;
}

.code-text{
  font-family: 'Roboto Mono', Courier, monospace;
}
code{
  background-color:var(--accent-green-light-trans);
}
.canapi-logo{
  /* background-image: url('/img/canapi-logo.png'); */
  max-width: 100%;
  width:350px;
  height: 150px;
  margin-bottom: 20px;
  background-position: center;
}