<footer>
  <div class="">
    <a href="{{ site.baseUrl }}/" class="" aria-label="Home">
      <img src="img/logo.png" alt="site logo" class="" />
    </a>
  </div>

  <div class="footer-bottom-container max-width" data-au="flex-container align-center">
    <div id="footer-bottom-info-container" data-au="flex-width">
      <div id="footer-copyright">
        &copy; <span id="current-year-text"></span> Terrabyte, LLC. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>