{# duplicate the Terrabyte footer here #}

{# pulled from pixel footer #}
{# <div id="footer-copyright-container" data-au="flex-width">
  <p>&copy; <span>{{ currentYear }}</span> <a class="text-link" href="https://www.terrabyte.eco" target="_blank" aria-label="Terrabyte Website (opens in new window)">Terrabyte, LLC</a>. Terrabyte, its products, and related marks are trademarks of Terrabyte, LLC. All Rights Reserved.</p>
  <p>Website designed & developed in association with <a class="text-link" href="https://www.goldenharpmedia.com" target="_blank" aria-label="Golden Harp Media Website (opens in new window)">Golden Harp Media</a>.</p>
</div> #}