{# header here #}

<header>
  <nav class="">
    <div class="">
      <a href="{{ site.baseUrl }}/" class="" aria-label="Home">
        <img src="img/logo.png" alt="site logo" class="" />
      </a>
    </div>
  </nav>

</header>