<footer>
  <section id="cookie-disclaimer">
    <div class="section-content">
      <p>We limit the amount and types of cookies our site uses, but we still rely on them to provide the content and functionality you would expect. By interacting with this site, you are agreeing to the <a class="text-link" href="https://www.terrabyte.eco/legal/privacy-policy.html" target="_blank" aria-label="Terrabyte Privacy Policy (opens in new window)">Terrabyte Privacy Policy</a> and the <a class="text-link" href="https://www.terrabyte.eco/legal/cookie-policy.html" target="_blank" aria-label="Terrabyte Cookie Policy (opens in new window)">Terrabyte Cookie Policy</a>.</p>
    </div>
  </section>
  <section id="footer" class="section-content">
    <div id="logos-social-footer" data-au="flex-container align-center">
      <div class="footer-logos-container" data-au="flex-container align-center flex-width">
        <a href="{{ site.url }}" aria-label="{{ site.project }} website">
          <div class="footer-logo project-logo" data-au="set-width" ></div>
        </a>
        <h2 class="set-width">//</h2>
        <a href="https://www.terrabyte.eco" target="_blank" aria-label="Terrabyte website (opens in new window)">
          <div class="footer-logo tb-logo" data-au="set-width" role="img"></div>
        </a>
      </div>
    </div>
    <div class="company-links-container">
      <a class="text-link" href="https://www.terrabyte.eco/about-us" target="_blank" aria-label="About Terrabyte (opens in new window)">About Us</a>
      &nbsp;
      <a class="text-link" href="https://www.terrabyte.eco/legal/privacy-policy.html" target="_blank" aria-label="Terrabyte Privacy Policy (opens in new window)">Privacy Policy</a>
      &nbsp;
      <a class="text-link" href="https://www.terrabyte.eco/legal/cookie-policy.html" target="_blank" aria-label="Terrabyte Cookie Policy (opens in new window)">Cookie Policy</a>
    </div>

    <div id="copyright-social-footer" data-au="flex-container align-top">
      <div id="footer-copyright-container" data-au="flex-width">
        <p>&copy; <span>{{ currentYear }}</span> <a class="text-link" href="https://www.terrabyte.eco" target="_blank" aria-label="Terrabyte Website (opens in new window)">Terrabyte, LLC</a>. Terrabyte, its products, and related marks are trademarks of Terrabyte, LLC. All Rights Reserved.</p>
        <p>Website designed & developed in association with <a class="text-link" href="https://www.goldenharpmedia.com" target="_blank" aria-label="Golden Harp Media Website (opens in new window)">Golden Harp Media</a>.</p>
      </div>
      <div id="website-carbon-container" data-au="set-width">
        <!-- website carbon badge -->
        <div id="wcb" class="carbonbadge"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
      </div>
    </div>
  </section>
</footer>